@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'just-sans';
  src: local('JUST Sans Light'),
    url('./fonts/JUSTSansLight.woff') format('woff'),
    url('./fonts/JUSTSansLight.woff2') format('woff2');
} */
@font-face {
  font-family: 'just-sans';
  src: local('JUST Sans Regular'),
    url('./fonts/JUSTSansRegular.woff') format('woff'),
    url('./fonts/JUSTSansRegular.woff2') format('woff2');
}
@font-face {
  font-family: 'just-sans';
  src: local('JUST Sans Medium'),
    url('./fonts/JUSTSansMedium.woff') format('woff'),
    url('./fonts/JUSTSansMedium.woff2') format('woff2');
}
@font-face {
  font-family: 'just-sans';
  src: local('JUST Sans SemiBold'),
    url('./fonts/JUSTSansSemiBold.woff') format('woff'),
    url('./fonts/JUSTSansSemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'just-sans';
  src: local('JUST Sans Bold'), url('./fonts/JUSTSansBold.woff') format('woff'),
    url('./fonts/JUSTSansBold.woff2') format('woff2');
}

.just-sans {
  font-family: 'just-sans', sans-serif;
}

body {
  font-family: 'just-sans', sans-serif;
}

/* buttons start */
.btn_primary_a {
  @apply px-4 py-[14px] rounded-2xl font-semibold bg-primary text-white text-h5 dark:bg-bgSecondary dark:text-dark;
}

.btn_primary_s {
  @apply px-4 py-[14px] border border-secondary rounded-2xl font-semibold text-h5 text-textPrimary hover:bg-bgSecondary transition-all duration-300 dark:border-darkSecondary dark:text-secondary dark:hover:text-secondary dark:hover:bg-darkSecondary;
}
.btn_primary_d {
  @apply px-4 py-2 rounded-[20px] border border-secondary text-textPrimary hover:bg-bgSecondary transition-all dark:text-secondary dark:hover:text-textPrimary duration-300;
}
/* buttons end */
/* .img-purple {
  filter: invert(32%) sepia(98%) saturate(1436%) hue-rotate(266deg)
    brightness(96%) contrast(91%);
} */

.bg-screens {
  width: 100%;
  height: 120px;
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 0) 0%,
    rgba(17, 17, 17, 0.5) 100%
  );
}

.active {
  @apply bg-white text-textPrimary dark:bg-darkSecondary dark:text-secondary;
}
.inactive {
  @apply hover:bg-bgSecondary hover:text-textPrimary transition-all duration-300 dark:hover:bg-darkSecondary dark:hover:text-secondary;
}

/* prism colors */
.token.keyword {
  color: #389edb !important; /* Blue color for keywords */
}

.token.function {
  color: #00ccaf !important; /* Green color for function names */
}

.token.comment {
  color: #dcdca4 !important; /* Gray color for comments */
}

.offcanvas.active {
  right: 0;
}
